scikit-learn==1.7.1
scipy==1.16.1
pandas==2.3.1
numpy==2.3.2
joblib==1.5.1
lightgbm==4.6.0
psutil==7.0.0
requests==2.32.4
beautifulsoup4==4.13.4
lxml==6.0.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.42
psycopg2-binary==2.9.10
pydantic-settings==2.10.1
validators==0.35.0
plotext==5.3.2
python-json-logger==3.3.0
